*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Vagrant folder
.vagrant

# Nohup Output file
*.out

# Logfiles
*.log

# Add the jar of idin
!/idin-library-java1.041/Library/net.bankid.merchant.library.jar

# Certificates
*.cer
*.pfx
